html {
  font-family: "Open Sans", sans-sans-serif;
  background-color: #ccc;
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section ul {
display: flex;
}

section {
  padding: .5rem;
}

img {
  display:flex;
  width: 16rem;
}
