html {
  font-family: "Open Sans", sans-serif;
  background-color: #ccc;
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

section {
  padding: .5rem;
  align-items: center;
}

img {
  display: block;
  width: 5rem;
}

li {
  display: flex;
  justify-content: center'
  margin: 1.5rem;

li a {
  background-color: #444;
  text-align: center;
  margin: auto;
  padding: .5rem 1rem .6rem;
}

p {
  width: 24rem;
}

h3, h4{
  margin: 0;
}
