html {
  font-family: "Open Sans", sans-serif;
  background-color: #ccc;
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

li img {
  width: 5rem;
}

li {
  display: flex;
  margin: 1.5rem;
}

li a {
  background-color: #444;
  text-align: center;
  margin: auto;
  padding: .5rem 1rem .6rem;
}

li hgroup {
  margin: 1.5rem;
  width: 15rem;
}

h3, h4 {
  margin: 0;
}
